.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

i {
  font-size: 22px;
}

.App-link {
  color: #61dafb;
}

.far {
  position: absolute;
  right: 12px;
  top: 9px;
}

.todo-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 36px;
}

h4 {
  margin: 4px 0;
  border-bottom: 1px solid white;
  padding: 6px;
  position: relative;
  width: 180px;
  display: flex;
}
